<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px;">

<p>Hello!</p>

<p>There is Recite or expense expired today. See above:</p>

<p>
<table style="width: 100%; border-collapse: collapse;  margin: 20px 0">
    <thead>
    <tr>
        <th>Type</th>
        <th>Person</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Value</th>
    </tr>
    </thead>

    <tbody>
    <tr style="border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;"
        th:each="release: ${releases}">
        <td th:text="${release.type.description}">Recipe</td>
        <td th:text="${release.person.name}">Junior</td>
        <td th:text="${release.description}">Salary</td>
        <td th:text="${#temporals.format(release.dueDate, 'dd/MM/yyyy')}"
            style="text-align: center">10/06/2018</td>
        <td th:text="${#numbers.formatDecimal(release.value, 0, 'POINT', 2, 'COMMA')}"
            style="text-align: right">$ 10.000,00</td>
    </tr>
    </tbody>
</table>
</p>

<p>Thanks.</p>
<p>Junior Miqueletti!</p>

</body>
</html>
